/* Box styling for sitemap content */
#sitemap-box {
    max-width: 800px;
    background: #d3ffef;
    border: 2px solid #3E6A5A;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    text-align: left;
}

h3 {
    padding-left: 35%;
    margin-bottom: 1%;
}

/* Main UL list styling */
.sitemap-list {
    list-style: none;
    padding-left: 35%;

}

/* Nested list under Services */
.sitemap-list ul {
    margin-left: 30px;
    margin-bottom: 5px;
}

.sitemap-list a {
    font-weight: bold;
}

/* Credits list */
.credit-list {
    padding-left: 18px;
    list-style: disc;
    padding-left: 35%;
}




